[submodule "thirdparty/hedley"]
	path = thirdparty/hedley
	url = https://github.com/nemequ/hedley
[submodule "thirdparty/utf8.h"]
	path = thirdparty/utf8.h
	url = https://github.com/sheredom/utf8.h
[submodule "thirdparty/cwalk"]
	path = thirdparty/cwalk
	url = https://github.com/likle/cwalk
[submodule "thirdparty/picohttpparser"]
	path = thirdparty/picohttpparser
	url = https://github.com/h2o/picohttpparser
[submodule "thirdparty/wsock.h"]
	path = thirdparty/wsock.h
	url = https://github.com/falsycat/wsock.h
[submodule "thirdparty/crypto-algorithms"]
	path = thirdparty/crypto-algorithms
	url = https://github.com/B-Con/crypto-algorithms
[submodule "thirdparty/mimetype.h"]
	path = thirdparty/mimetype.h
	url = https://github.com/falsycat/mimetype.h
