[submodule "thirdparty/cwalk"]
	path = thirdparty/cwalk
	url = https://github.com/falsycat/cwalk
[submodule "thirdparty/wsock.h"]
	path = thirdparty/wsock.h
	url = https://github.com/falsycat/wsock.h
[submodule "thirdparty/crypto-algorithms"]
	path = thirdparty/crypto-algorithms
	url = https://github.com/falsycat/crypto-algorithms
[submodule "thirdparty/mimetype.h"]
	path = thirdparty/mimetype.h
	url = https://github.com/falsycat/mimetype.h
[submodule "thirdparty/libuv"]
	path = thirdparty/libuv
	url = https://github.com/libuv/libuv
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl
[submodule "thirdparty/libupd"]
	path = thirdparty/libupd
	url = https://github.com/unparanoid/libupd
[submodule "thirdparty/zlib-ng"]
	path = thirdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "thirdparty/tiny-regex-c"]
	path = thirdparty/tiny-regex-c
	url = https://github.com/kokke/tiny-regex-c
[submodule "thirdparty/picohttpparser"]
	path = thirdparty/picohttpparser
	url = https://github.com/h2o/picohttpparser
[submodule "thirdparty/LuaJIT"]
	path = thirdparty/luajit
	url = https://github.com/LuaJIT/LuaJIT
